<!--== Start Header Wrapper ==-->
<header class="main-header-wrapper position-relative">
  <div class="header-top">
    <div class="container-sm pt--0 pb--0">
      <div class="row">
        <div class="col-12">
          <div class="header-top-align">
            <div class="header-top-align-start">
              <div class="desc">
                <p>Una De Las Primeras Empresas Que Operan Con Productos Eléctricos En El Perú</p>
              </div>
            </div>
            <div class="header-top-align-end">
              <div class="header-info-items">
                <div class="info-items">
                  <ul>
                    <li class="number"><i class="fa fa-phone"></i><a target="_blank"
                        href="https://wa.me/+51962383474?text=Hola%20estoy%20interesado%20en%20uno%20de%20sus%20productos">+51
                        962 383 474</a></li>
                    <li class="number"><i class="fa fa-phone"></i><a target="_blank"
                        href="https://wa.me/+51975135920?text=Hola%20estoy%20interesado%20en%20uno%20de%20sus%20productos">+51
                        975 135 920</a></li>
                    <li class="email"><i class="fa fa-envelope"></i><a
                        href="mailto:contacto@velamotos.com">contacto@velamotos.com</a></li>
                    <li class="account"><i class="fa fa-user"></i><%= link_to 'Productos', products_path %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-middle">
    <div class="container pt--0 pb--0">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="header-middle-align">
            <div class="header-middle-align-start">
              <div class="header-logo-area">
                <a href="/">
                  <img class="logo-main" src="/assets/logo-vm.png" width="191" height="34" alt="Logo" />
                  
                </a>
              </div>
            </div>
            <div class="header-middle-align-end">
              <div class="header-action-area">
                <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu"
                  aria-controls="AsideOffcanvasMenu">
                  <i class="pe-7s-menu"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-area header-default">
    <div class="container">
      <div class="row no-gutter align-items-center position-relative">
        <div class="col-12">
          <div class="header-align">
            <div class="header-navigation-area position-relative">
              <ul class="main-menu nav">
                <li><a href="/"><span>Inicio</span></a></li>
                <li><a href="/nosotros"><span>Nosotros</span></a></li>
                <li><a href="/catalogo"><span>Catalogo</span></a></li>
                <li><a href="/contacto"><span>Contacto</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--== End Header Wrapper ==-->