<!--== Start Side Menu ==-->
<div class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h1 id="offcanvasExampleLabel"></h1>
        <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">menu <i
                class="fa fa-chevron-left"></i></button>
    </div>
    <div class="offcanvas-body">
        <div class="info-items">
            <ul>
                <li class="number"><a target="_blank"
                        href="https://wa.me/+51962383474?text=Hola%20estoy%20interesado%20en%20uno%20de%20sus%20productos"><i
                            class="fa fa-phone"></i>+51 962 383 474</a></li>
                <li class="number"><a target="_blank"
                        href="https://wa.me/+51975135920?text=Hola%20estoy%20interesado%20en%20uno%20de%20sus%20productos"><i
                            class="fa fa-phone"></i>+51 975 135 920</a></li>
                <li class="email"><a href="mailto:contacto@velamotos.com"><i
                            class="fa fa-envelope"></i>contacto@velamotos.com</a></li>
            </ul>
        </div>
        <!-- Mobile Menu Start -->
        <div class="mobile-menu-items">
            <ul class="nav-menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
                <li><a href="/catalogo">Catalogo</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </div>
        <!-- Mobile Menu End -->
    </div>
</div>
<!--== End Side Menu ==-->