<!--== Start Page Header Area Wrapper ==-->
<div class="page-header-area" data-bg-img="/assets/velamotos/about-us-bg.png">
  <div class="container pt--0 pb--0">
    <div class="row">
      <div class="col-12">
        <div class="page-header-content">
          <h2 class="title" data-aos="fade-down" data-aos-duration="1000">Nosotros</h2>
          <nav class="breadcrumb-area" data-aos="fade-down" data-aos-duration="1200">
            <ul class="breadcrumb">
              <li><a href="/">Inicio</a></li>
              <li class="breadcrumb-sep">//</li>
              <li>Nosotros</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!--== End Page Header Area Wrapper ==-->

<!--== Start About Area Wrapper ==-->
<section class="about-area about-default-wrapper">
  <div class="container">
    <div class="about-item position-relative">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="about-thumb">
            <div class="shape-one scene">
              <span class="scene-layer" data-depth=".2">
                <img src="/assets/velamotos/local.png" width="570" height="368" alt="Image-HasTech">
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="about-content">
            <h4 class="sub-title">VelaMotos</h4>
            <h3 class="title">DISTRIBUIDORES E IMPORTADORES SAC</h3>
            <p class="desc">Importadores de todo tipo de vehículos eléctricos. Enfocado especialmente para movilidad
              familiar y adulto mayor personas con discapacidad.</p>
            <a class="btn-theme" href="/contacto">Contactanos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--== End About Area Wrapper ==-->

<!--== Start Team Area Wrapper ==-->
<section class="team-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h3 class="title">Nuestro Equipo</h3>
          <div class="desc">
            <p>Pioneros en vehículos eléctricos en el perú desde 2017</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3">
      </div>
      <div class="col-sm-6 col-lg-3">
        <!--== Start Team Item ==-->
        <div class="team-item">
          <div class="inner-content">
            <div class="thumb">
              <a href="/nosotros"><img src="/assets/velamotos/alfredo-vela.png" width="270" height="270"
                  alt="Image-HasTech"></a>
              <div class="member-icons">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
              </div>
            </div>
            <div class="content">
              <h4 class="title"><a href="javascript:void(0)">Alfredo Vela Ruiz</a></h4>
              <p>Gerente General</p>
            </div>
          </div>
        </div>
        <!--== End Team Item ==-->
      </div>
      <div class="col-sm-6 col-lg-3">
        <!--== Start Team Item ==-->
        <div class="team-item">
          <div class="inner-content">
            <div class="thumb">
              <a href="/nosotros"><img src="/assets/velamotos/pilar-vela.png" width="270" height="270"
                  alt="Image-HasTech"></a>
              <div class="member-icons">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
              </div>
            </div>
            <div class="content">
              <h4 class="title"><a href="javascript:void(0)">Pilar Vela Ruiz</a></h4>
              <p>Agente de Ventas</p>
            </div>
          </div>
        </div>
        <!--== End Team Item ==-->
      </div>
      <div class="col-sm-6 col-lg-3">
      </div>
    </div>
  </div>
</section>
<!--== End Team Area Wrapper ==-->

<!--== Start Testimonial Area Wrapper ==-->
<section class="testimonial-area bg-color-f2 position-relative z-index-1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h3 class="title">Nosotros</h3>
          <div class="desc">
            <!-- <p>There are many variations of passages of Lorem Ipsum available</p> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="swiper-container testimonial-slider-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!--== Start Testimonial Item ==-->
              <div class="testimonial-item">
                <div class="testi-inner-content">
                  <div class="testi-content">
                    <h2 class="title">Visión</h2>
                    <p>Dirigido a personas adulto mayor y personas con discapacidad para cubrir la gran demanda a
                      nivel nacional de vehículos eléctricos con productos de calidad y garantía.</p>
                  </div>
                </div>
              </div>
              <!--== End Testimonial Item ==-->
            </div>
            <div class="swiper-slide">
              <!--== Start Testimonial Item ==-->
              <div class="testimonial-item">
                <div class="testi-inner-content">
                  <div class="testi-content">
                    <h2 class="title">Misión</h2>
                    <p>Cumplir con las necesidades de la movilidad ecoamigable protegiendo el medio ambiente es por
                      ese motivo que VelaMotos greenlite su objetivo principal son los vehículos eléctricos.</p>
                  </div>
                </div>
              </div>
              <!--== End Testimonial Item ==-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shape-group-style3">
    <div class="shape-group-one"><img src="/assets/shape/10.webp" width="274" height="121" alt="Image-HasTech">
    </div>
    <div class="shape-group-two"><img src="/assets/shape/11.webp" width="215" height="183" alt="Image-HasTech">
    </div>
    <div class="shape-group-three"><img src="/assets/shape/12.webp" width="288" height="166" alt="Image-HasTech">
    </div>
    <div class="shape-group-four"><img src="/assets/shape/17.webp" width="493" height="340" alt="Image-HasTech">
    </div>
  </div>
</section>
<!--== End Testimonial Area Wrapper ==-->