<%= render "products/header_products" %>

<!--== Start Contact Area Wrapper ==-->
<section class="contact-area contact-page-area">
  <div class="container" style="padding-top: 40px">

    <div class="myaccount-content">
      <h3>Nueva Imagen</h3>
      <%= render "form", image: @image %>
    </div>

    <br>

    <div>
      <%= link_to "Regresar", edit_product_path(@product) %>
    </div>

  </div>
</section>
<!--== End Contact Area Wrapper ==-->

<%= render "products/full_product_image_modal" %>