<%= render "header_usuario" %>

<!--== Start Contact Area Wrapper ==-->
<section class="contact-area contact-page-area">
  <div class="container" style="padding-top: 40px">

    <div class="myaccount-content">
      <h3>Nuevo Usuario</h3>
      <%= render "form_new", user: @user %>
    </div>

    <br>

    <div>
      <%= link_to "Regresar", usuarios_path %>
    </div>

  </div>
</section>
<!--== End Contact Area Wrapper ==-->