<%# <!--== Start Page Header Area Wrapper ==-->
<div class="page-header-area" data-bg-img="/assets/velamotos/contact-bg.png">
  <div class="container pt--0 pb--0">
    <div class="row">
      <div class="col-12">
        <div class="page-header-content">
          <h2 class="title" data-aos="fade-down" data-aos-duration="1000">Contactanos</h2>
          <nav class="breadcrumb-area" data-aos="fade-down" data-aos-duration="1200">
            <ul class="breadcrumb">
              <li><a href="/">Inicio</a></li>
              <li class="breadcrumb-sep">//</li>
              <li>Dashboard</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!--== End Page Header Area Wrapper ==--> %>

<!--== Start Contact Area Wrapper ==-->
<section class="contact-area contact-page-area">
  <div class="container" style="padding-top: 40px">

    <div class="myaccount-content">
      <h3>Editar accesorio</h3>
      <%= render "form", accessory: @accessory %>
    </div>

    <br>

    <div>
      <%= link_to "Visualizar", @accessory %> |
      <%= link_to "Regresar", accessories_path %>
    </div>

  </div>
</section>
<!--== End Contact Area Wrapper ==-->

<%= render "products/full_product_image_modal" %>