<%= render "header_accessories" %>

<!--== Start Contact Area Wrapper ==-->
<section class="contact-area contact-page-area">
  <div class="container" style="padding-top: 40px">

    <div class="myaccount-content">
      <h3>Nuevo accesorio</h3>
      <%= render "form", accessory: @accessory %>
    </div>

    <br>

    <div>
      <%= link_to "Regresar", accessories_path %>
    </div>

  </div>
</section>
<!--== End Contact Area Wrapper ==-->

<%= render "products/full_product_image_modal" %>